#contacts
{
    height: calc(100% - 35px);
    padding-top: 35px;
    background-color: #F4F4F4;
    overflow: hidden;
}

.contact
{
    width: 100%;
    background-color: #F2F2F2;
    padding: 10px 5px 10px 5px;
    border-bottom: 1px solid #dadada;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contact:nth-child(2n).selected, .contact.selected
{
    background-color: #aaa;
    color: #fff;
    font-weight: bold;
}

.contact p
{
    margin: 0;
}

#add-contact
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    bottom: 20px;
    right: 20px;
    border-radius: 10px;
    background-color: #568CE3;
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    color: #fff;
}

#add-contact.selected
{
    background-color: rgba(97, 157, 255, 0.59);
}

.avatar
{
    box-sizing: border-box;
    vertical-align: middle;
    border-radius: 15px;
    border: 2px solid #333;
    width: 40px;
    height: 40px;
}

.name
{
    display: inline-block;
}
