#navigator
{
    position: fixed;
    top: 50px;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    transition: all 1s;
    overflow-y: scroll;
}

#navigator::-webkit-scrollbar
{
  width: 10px;
  height: 10px;
}

#navigator::-webkit-scrollbar-button
{
  width: 0px;
  height: 0px;
}

#navigator::-webkit-scrollbar-thumb
{
  background: #e1e1e1;
}

#navigator::-webkit-scrollbar-track
{
  background: #666666;
}

#navigator::-webkit-scrollbar-corner
{
  background: transparent;
}

#navigator.animate
{
    transition: all 1s;
}

#nav-head
{
    position: fixed;
    top: 0;
    background-color: #D0D0D0;
    padding: 10px 0 10px 0;
    width: 100%;
    box-shadow: 0px 0px 50px 0px #878787;
}

#nav-content
{
    height: 150vh;
    background-color: #fafafa
}

.container
{
    width: 75vw;
    margin: auto;
}

.search-bar
{
    position: relative;
    display: flex;
    width: 100%;
    height: 30px;
}

.search-bar input
{
    padding: 5px;
	border: 1px solid #dadada;
	color: #666;
	box-shadow: 0;
	outline: none;
	background-color: #FAFAFA;
	width: 100%;
	border-radius: 0;
	-webkit-appearance: none;
    border-radius: 10px 0 0 10px;
    border: 1px solid #aaa;
}

.search-bar-prev, .search-bar-next, .search-bar-home, .search-bar-exit
{
    background-color: #eceeef;
    border: 0;
    border-radius: 10px;
    height: 30px;
    display: inline-block;
    border: 1px solid #aaa;
}

.search-bar-prev
{
    border-radius: 10px 0 0 10px;
}

.search-bar-next
{
    border-radius: 0 10px 10px 0;
}

.search-bar-home
{
    margin: 0 25px 0 25px;
}

.search-bar-exit
{
    border-radius: 0 10px 10px 0;
    margin: 0;
}

button
{
    cursor: pointer;
}

button:hover
{
    background-color: #D2D2D2;
}

button:focus
{
    outline: 0;
    background-color: #D2D2D2;
}


#container.rotate
{
    bottom: 10%;
    right: 360px;
    transform: scale(2);
    transition: all 1s;
}
