/*
** ---------------------------------------------------------------------------
**                                 CONTACTS
** ---------------------------------------------------------------------------
*/

#contacts {
    height: calc(100% - 35px);
    padding-top: 35px;
    background-color: red;
    overflow: hidden;
}

.contact {
    width: 100%;
    background-color: #fafafa;
    padding: 15px 5px 15px 5px;
    border-bottom: 1px solid #dadada;
}

.contact:nth-child(2n) {
    background-color: #aaa;
}

.contact:nth-child(2n).selected, .contact.selected {
    background-color: #333;
    color: white;
}

.contact p {
    margin: 0;
}

#add-contact {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    bottom: 20px;
    right: 20px;
    border-radius: 10px;
    background-color: #568CE3;
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    color: #fff;
}
